<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleWebServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SimpleWebServer.Properties.Settings>
            <setting name="DATA_SOURCE" serializeAs="String">
                <value>220.76.123.23,41433</value>
            </setting>
            <setting name="CATALOG" serializeAs="String">
                <value>DORI</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="BASE_ADDRESS" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>9000</value>
            </setting>
        </SimpleWebServer.Properties.Settings>
    </userSettings>
</configuration>